@import "/footer.css";

* {
    -webkit-font-smoothing: antialiased;
}

html, body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    color: #073642;
}

.ft-size-24 {
    font-size: 24px;
}

.ft-size-20 {
    font-size:20px;
}

.ft-size-18 {
    font-size:18px;
}

.ft-size-14 {
    font-size:14px;
}


.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}

.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.coffee-content {
    line-height=1.7;
}

.example-container {
  width: 800px;
  @include make-container();
}

.mw-450-px {
    max-width: 450px;        
    }
.st-james-street {
    height: 0;             /* collapse the container's height */
    width: 100%;    /* specify any width you want (a percentage value, basically) */
    /* apply a padding using the following formula */
    /* this formula makes sure the aspect ratio of the container equals that of the svg graphic */
    padding-top: 400%; /* (237 / 212) * width-value;*/
    position: relative;    /* create positioning context for svg */
    } 

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-bleed {
    width: 100%;
    grid-column: 1/4;
    margin-left: auto;
    margin-right: auto;
}

.coffee, .new-comment, .comment, .topic {
    max-width: 660px;
}

.coffee .coffee-title, .topic .topic-title {
    font-size: 1.5rem;
    color: #073642;
    line-height: 1;
    margin-bottom: 0.5rem;
    display: block;
    font-weight: 600;
}

.coffee .coffee-body {
    color: hsla(192, 81%, 14%, 85%);
    display: block;
    margin-bottom: 0.5rem;
}

.topic .topic-description {
    color: hsla(192, 81%, 14%, 85%);
    display: block;
}

.coffee-action-link a {
    font-size: 0.8rem;
    color: #839496;
    margin-left: 0.5rem;
}

.coffee .coffee-created-at a {
    font-size: 0.8rem;
    color: #839496;
    margin-left: 0.5rem;
}

.coffee-picture {
    width: 64px;
    height: 64px;
}

.coffee .coffee-picture {
    display: block;
    margin-bottom: 0.5rem;
}

.coffees .coffee {
    background-color: hsla(192, 81%, 5%, 0.04);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

textarea {
    min-height: 8rem;
}

#users-new {
    max-width: 600px;
}

.comment .comment-body {
    background-color: hsla(192, 81%, 5%, 0.04);
    padding: 1rem;
    border-radius: 8px;
}

.comment {
    margin-bottom: 3rem;
}

.comment .comment-meta, .comment .comment-meta a {
    margin-bottom: 0.25rem;
    font-size: 0.6rem;
}

.comment .comment-meta a {
    margin-left: 0.5rem;
}

.user-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsla(192, 81%, 26%, 0.8);
}

.topic {
    margin-bottom: 2rem;
}
